# Examen Demo

In [1]:
# Your imports HERE !!!!
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 01
- La serie de Fibonacci es una sucesión de números, en la cual cada número es la suma de los dos anteriores. Los dos primeros son siempre 0 y 1.
  - $F_0 = 0$
  - $F_1 = 1$
  - $F_n = F_{n-1} + F_{n-2}$
- Crear una serie de Fibonacci hasta un número *n* usando una función lambda.

In [13]:
expected_fibo_serie = [0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597]
fibo_serie = fibonacci_lambda(len(expected_fibo_serie))  # This calls your lambda function fibonacci_lambda
assert(expected_fibo_serie == fibo_serie)  # This will fail if the serie is not correct

In [12]:
# Your solution HERE !!!!
from functools import reduce
fibonacci_lambda = lambda n: reduce(lambda x,_: x + [x[-1] + x[-2]],range(n-2),[0,1])

## 02
- Crear una función que reciba un array de NumPy y devuelva otro en el cual estén marcados como True los elementos duplicados (a partir de la segunda ocurrencia), y como False los no repetidos o las primeras ocurrencias de los duplicados.

In [ ]:
numbers = np.array([4, 4, 4, 3, 8, 1, 9, 6, 1, 5, 9, 4, 0, 2])
expected_output = np.array([False, True, True, False, False, False, False, False, True, False, True, True, False, False])
output = find_duplicates(numbers)   # This calls your function find_duplicates
assert(np.array_equal(expected_output, output))  # This will fail if the result is not as expected

In [3]:
# Your solution HERE !!!!
def find_duplicates(array):
    result = np.full(array.shape[0],True)
    unique_positions = np.unique(array, return_index = True)[1]
    result[unique_positions] = False
    return result

## 03
- Resolución de dos sistemas de ecuaciones
    - $ A : \begin{cases} -9x +  4y = 20 \\ -7y + 16x = 80                         \end{cases}$
    
    - $ B : \begin{cases} x - 2y + 3z = 7 \\ 2x + y + z = 4 \\ -3x + 2y -2z = -10 \end{cases}$
- Verifica por código los resultados

In [4]:
# Your solution HERE !!!!
import math

a = np.array([[-9,4],[16, -7]])
b = np.array([20,80])
x,y = np.linalg.solve(a,b)
print(f"x={x} y={y}")
print(math.isclose(-9*x + 4*y, 20))
print(math.isclose(-7*y + 16*x, 80))

a = np.array([[1,-2,3],[2,1,1],[-3,2,-2]])
b = np.array([7,4,-10])
x,y,z = np.linalg.solve(a,b)
print(f"x={x} y={y} z={z}")
print(math.isclose(x - 2*y + 3*z, 7))
print(math.isclose(2*x + y + z, 4))
print(math.isclose(-3*x + 2*y - 2*z, -10))

x=460.0 y=1040.0
True
True
x=2.0 y=-1.0 z=1.0
True
True
True

## 04
- Crear un objeto Series con 10 elementos, que contenga más de un tipo básico, con índices de tipo string
- Demuestra que los los índices posicionales son los mismos que los obtenidos con índices semánticos, seleccionando a través de slicing, al menos 4 elementos de la serie anterior

In [5]:
# Your solution HERE !!!!
elements = ["Manolo", 10, True, np.nan, 1023.0, 23]
indexes = [chr(x) for x in range(ord('a'), ord('a') + len(elements))]

my_series = pd.Series(elements, index=indexes)
my_series.name = "My Serie"
my_series.index.name = 'Id'

print(my_series)
print(my_series[:'e'].equals(my_series[:5]))

Id
a    Manolo
b        10
c      True
d       NaN
e    1023.0
f        23
Name: My Serie, dtype: object
True

## 05
- Crear un DataFrame de dimensiones 10x10, con números aleatorios en el rango `[0,20]`
- Reemplazar todos aquellos elementos menores de 5 por NaN
- Averiguar cuantos elementos tienen Nan por fila

In [6]:
# Your solution HERE !!!!
my_matrix = pd.DataFrame(np.random.randint(0,21,size=(10,10)))
my_matrix[my_matrix < 5] = np.nan
display(my_matrix)
my_matrix.isna().sum(axis=1)

      0     1     2     3     4   5     6     7     8     9
0  18.0   NaN   6.0   9.0  13.0  14  20.0  20.0   NaN   6.0
1  12.0  14.0  14.0  19.0   8.0  16   NaN  20.0  12.0  12.0
2   NaN   NaN  15.0  16.0  13.0  20   6.0   8.0   6.0   5.0
3   NaN  17.0   7.0   5.0   9.0   7  13.0   NaN   NaN   NaN
4  19.0  10.0   NaN  19.0  12.0  13   NaN   NaN  15.0   NaN
5  14.0  11.0   NaN  10.0   NaN  16  19.0  13.0  12.0   NaN
6   NaN   NaN   NaN   NaN  13.0   7  18.0   NaN   NaN  15.0
7  13.0  20.0   NaN   NaN   7.0   6   NaN  19.0   7.0  13.0
8   8.0  17.0  20.0   NaN   NaN  10  14.0   NaN   NaN  10.0
9   7.0   9.0   6.0   NaN  13.0  11   NaN   9.0   NaN   5.0

0    2
1    1
2    2
3    4
4    4
5    3
6    6
7    3
8    4
9    3
dtype: int64

## 06
- Dada una lista de elementos, crea una función que devuelva un dataframe sin los elementos duplicados

In [9]:
serie = ['a','b','c','a','c','a','g']
expected_output = pd.DataFrame(['a','b','c','g'])
output = remove_duplicates(serie)   # This will call tour function remove_duplicates
assert(expected_output.equals(output))  # This will fail if the result is not as expected

In [8]:
# Your solution HERE !!!!
def remove_duplicates(serie):
    df = pd.DataFrame(serie)
    df.drop_duplicates(inplace=True)
    return df.reset_index(drop=True)

## 07
- La serie de Fibonacci es una sucesión de números, en la cual cada número es la suma de los dos anteriores. Los dos primeros son siempre 0 y 1.
  - $F_0 = 0$
  - $F_1 = 1$
  - $F_n = F_{n-1} + F_{n-2}$
- Crear un generador infinito de números de Fibonacci.

In [ ]:
fibo = [0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597]
g = fibonacci_generator()  # This calls tour function fibonacci_generator
expected_output = [next(g) for n in range(len(fibo))]
assert(fibo == expected_output)  # This will fail if the output is not as expected

In [ ]:
# Your solution HERE !!!!
def fibonacci_generator():
    f1, f2 = 0,1
    while True:
        yield f1
        f1,f2 = f2,f1 + f2

## 08
- Crear una función que reciba una Serie de Pandas y devuelva esa misma serie, reemplazando los espacios en blanco por el carácter menos frecuente en dicha serie.

In [11]:
serie = pd.Series(list('bba cabc fdabba aacbbfe'))
expected_output = pd.Series(list('bbaecabcefdabbaeaacbbfe'))
output = clean_whitespace_replace(serie)  # This calls your function clean_whitespace_replace
assert(expected_output.equals(output))  # This will fail if result is not as expected

In [10]:
# Your solution HERE !!!!
def clean_whitespace_replace(serie):
    el_freq = serie.value_counts()
    curr_freq = el_freq.index[-1]
    return pd.Series(list((serie.replace(' ', curr_freq))))